<div class="form-group">
    <label for="nombres" class="control-label">Nombres</label>
    <input type="text" name="nombres" id="nombres" class="form-control" ng-value="vm.persona.nombres" readonly />
</div>

<div class="form-group">
    <label for="apellidos" class="control-label">Apellidos</label>
    <input type="text" name="apellidos" id="apellidos" class="form-control" ng-value="vm.persona.apellidos" readonly />
</div>

<div class="form-group">
    <label for="documento" class="control-label">Documento</label>
    <input type="text" name="documento" id="documento" class="form-control" ng-model="vm.persona.documento" readonly />
</div>

<div class="form-group">
    <label for="email" class="control-label">E-mail</label>
    <input type="email" name="email" id="email" class="form-control" ng-value="vm.persona.email" readonly />
</div>

<div class="form-group">
    <label for="telefono" class="control-label">Telefono</label>
    <input type="text" name="telefono" id="telefono" class="form-control" ng-value="vm.persona.telefono" readonly />
</div>

<div class="form-group">
    <label for="direccion" class="control-label">Dirección</label>
    <input type="text" name="direccion" id="direccion" class="form-control" ng-value="vm.persona.direccion" readonly />
</div>